[data-color="light"]{
  --bg-color:white;
  --text-color:black;
  --heading-color:gray;
  --btn-bgcolor:rgb(119, 5, 5);
  --btn-color:rgb(113, 110, 118);
}

 [data-color="dark"]{
  --bg-color:black;
  --text-color:white;
  --heading-color:lightgray;
  --btn-bgcolor:rgb(206, 218, 236);
  --btn-color:rgb(65, 0, 170)
}

body {
  background-color: var(--bg-color);
  color:var(--text-color);
  margin: 20px;
}
h1{
  color:var(--heading-color);
}

.mynav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.navbar {
  display: flex;
  gap:25px;
}

.btn {
  border-radius: 5px;
  background-color: var(--btn-bgcolor);
  color:var(--btn-color);
}